{% extends "AcmeIndexBundle::layout.html.twig" %}
{% block title "Начальная страница" %}
{% block content_header '' %}
{% block content %}
        <div id="content">
            <div class="col-xs-4">
                <a class="btn btn-success" id="btn-back" href="{{ path('login') }}">Вход на сайт</a>
            </div>
        </div>
{% endblock %}
