{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block title "Расписание занятий" %}
        {% block content %}
            <link rel="stylesheet" href="{{ asset('bundles/css/fullcalendar.min.css') }}" />
            <script type="text/javascript" src="{{ asset('bundles/js/moment.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/fullcalendar.js') }}"></script>
            <style>
            </style>
            <div class="container">
                <div class="row">
                    <div class="btn-group" data-toggle-name="profile_options" data-toggle="buttons-radio">
                        <button type="button" value="profile" data-toggle="button" class="btn btn-primary active">Расписание занятий</button>
                        <button type="button" value="messages" data-toggle="button" class="btn btn-primary">Расписание сессии и доп. занятий</button>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group" data-toggle-name="messages_options" data-toggle="buttons-radio">
                        <button type="button" value="support" data-toggle="button" class="btn btn-primary active">По группе</button>
                        <button type="button" value="private" data-toggle="button" class="btn btn-primary active">По преподавателю</button>
                        <button type="button" value="chair" data-toggle="button" class="btn btn-primary active">По предмету</button>
                        <button type="button" value="chair" data-toggle="button" class="btn btn-primary active">По аудитории</button>
                        <input id="messages-options" type="hidden">
                    </div>
                </div>
                <div class="row">
                    <div id='calendar'></div>
                </div>
            </div>
            <script>
                jQuery(function ($) {
                    $.fn.button.noConflict();
                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        defaultDate: '2015-02-12',
                        minTime: '8:30:00',
                        maxTime: '20:30:00',
                        allDaySlot: false,
                       /* slotDuration: '01:30:00',*/
                        timeFormat: 'H:mm',
                        axisFormat: 'H:mm',
                        defaultView: 'agendaDay',
                        //slotMinutes: 15,
                        selectable: true,
                        selectHelper: true,
                        select: function(start, end) {
                            var title = prompt('Event Title:');
                            var eventData;
                            if (title) {
                                eventData = {
                                    title: title,
                                    start: start,
                                    end: end
                                };
                                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                            }
                            $('#calendar').fullCalendar('unselect');
                        },
                        /*eventRender: function(event, element) {
                            element.find(".fc-event-title").remove();
                            element.find(".fc-event-time").remove();
                            var new_description = moment(event.start).format("HH:mm") + '-'
                                                    + moment(event.end).format("HH:mm") + '<br/>'
                                                    + event.customer + '<br/>'
                                                    + '<strong>Address: </strong><br/>' + event.address + '<br/>'
                                                    + '<strong>Task: </strong><br/>' + event.task + '<br/>'
                                                    + '<strong>Place: </strong>' + event.place + '<br/>';
                            element.append(new_description);
                        },*/
                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        events: [
                            {
                                title: 'Conference',
                                start: '2015-04-04T19:10:00',
                                end: '2015-04-04T20:40:00'
                            },
                           /* {
                                title: 'All Day Event',
                                start: '2015-02-01'
                            },
                            {
                                title: 'Long Event',
                                start: '2015-02-07',
                                end: '2015-02-10'
                            },
                            {
                                id: 999,
                                title: 'Repeating Event',
                                start: '2015-02-09T16:00:00'
                            },
                            {
                                id: 999,
                                title: 'Repeating Event',
                                start: '2015-02-16T16:00:00'
                            },
                            {
                                title: 'Conference',
                                start: '2015-02-11',
                                end: '2015-02-13'
                            },
                            {
                                title: 'Meeting',
                                start: '2015-02-12T10:30:00',
                                end: '2015-02-12T12:30:00'
                            },
                            {
                                title: 'Lunch',
                                start: '2015-02-12T12:00:00'
                            },
                            {
                                title: 'Meeting',
                                start: '2015-02-12T14:30:00'
                            },
                            {
                                title: 'Happy Hour',
                                start: '2015-02-12T17:30:00'
                            },
                            {
                                title: 'Dinner',
                                start: '2015-02-12T20:00:00'
                            },
                            {
                                title: 'Birthday Party',
                                start: '2015-02-13T07:00:00'
                            },
                            {
                                title: 'Click for Google',
                                url: 'http://google.com/',
                                start: '2015-02-28'
                            }*/
                        ]
                    });
                    //$("#formProfile_fieldOptions").val('profile');
                    //$("#messages-options").val('profile');
                    $('div.btn-group[data-toggle-name]').eq(0).each(function () {
                        var group = $(this),
                        //form = group.parents('form').eq(0),
                                name = 'formProfile[fieldOptions]',
                        //hidden = $('input[name="' + name + '"]', form);
                                hidden = $('input[name="' + name + '"]');
                        $('button', group).each(function () {
                            var button = $(this);
                            button.live('click', function () {
                                hidden.val($(this).val());
                                group.find('.active').removeClass('active');
                                if (button.val() == hidden.val()) {
                                    button.addClass('active');
                                }
                                if (hidden.val() == 'messages') {
                                    initGridMessages();
                                    $("#block-form-profile").hide();
                                    $("#block-messages").show();
                                    $("#block-messages-sort").show();
                                } else {
                                    $("#block-form-profile").show();
                                    $("#block-messages").hide();
                                    $("#block-talk").hide();
                                    $("#block-messages-sort").hide();
                                }
                            });
                        });
                    });
                    $('div.btn-group[data-toggle-name]').eq(1).each(function () {
                        var group = $(this),
                        //form = group.parents('form').eq(0),
                                name = 'formProfile[fieldOptions]',
                        //hidden = $('input[name="' + name + '"]', form);
                                hidden = $('input[name="' + name + '"]');
                        group.find('.active').removeClass('active');
                        $('button', group).each(function () {
                            var button = $(this);
                            button.live('click', function () {
                                hidden.val($(this).val());
                                group.find('.active').removeClass('active');
                                if (button.val() == hidden.val()) {
                                    button.addClass('active');
                                }
                            });
                        });
                    });
                });
            </script>
        {% endblock %}